<ion-pane style="background-image: url('img/Bagare.png');">
  <ion-content scroll="false" class="pane" style="background-image: url('img/{{occupation.image}}');">
    <ion-header-bar class='bar-clear'>
      <div class="buttons">
        <a class="button icon-left ion-chevron-left button-clear button-back" ng-click="myGoBack()"></a>
      </div>
      <h1 class="title">{{occupation.title}}</h1>
      <div class="buttons">
        <a class="button icon-right ion-ios-bookmarks button-clear" go-click="/library"></a>
      </div>
    </ion-header-bar>
    <ion-item class="item item-trns text-center">
      </br>
      </br>
      <h1 class="path-text">Bli en {{occupation.title}}</h1>
        <img class="path-image" src="img/{{occupation.path_steps}}">
    </ion-item>
    <div class="col button-group_path">
      <button class="button button-assertive icon ion-close" ng-click="myGoBackSkip()"></button>
      <button class="button button-positive icon ion-information" go-click="/description/{{occupation.id}}"></button>
      <button class="button button-balanced icon ion-heart" ng-click="saveThisOccupation()"></button>
    </div>
  </ion-content>
</ion-pane>
