<ion-pane style="background-image: url('img/Bagare.png');">
  <ion-content scroll="false" class="pane" style="background-image: url('img/{{occupation.image}}');">
    <ion-header-bar class='bar-clear'>
      <div class="buttons">
        <a class="button icon-left ion-chevron-left button-clear button-back" style="color: #ffffff;  opacity: 0.6;" ng-click="myGoBack()"></a>
      </div>
      <div class="header-bar-title">{{occupation.title}}</div>
      <div>
        <img src="img/library.png" go-click="/library" class="my-lib">
      </div>
    </ion-header-bar>
    <ion-item class="path-content item item-trns text-center">
      </br>
      </br>
      <h1 class="path-text">Bli en {{occupation.title}}</h1>
        <img class="path-image" src="img/{{occupation.path_steps}}">
    </ion-item>
    <div class="col button-group_path">
      <button class="button button-assertive icon ion-close" ng-click="myGoBackSkip()"></button>
      <button class="button button-positive icon ion-description" go-click="/description/{{occupation.id}}"></button>
      <button class="button button-balanced icon ion-heart" ng-click="saveThisOccupation()"></button>
    </div>
  </ion-content>
</ion-pane>
