<ion-pane ng-controller="cardsCtrl" class="background-grey">
  <div ng-if="cards.active">
    <td-cards>
      <td-card ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)">
          <div class="row card-image" style="background-image: url('img/{{card.image}}');" ng-controller="cardCtrl">
            <div class="col">
              <div class="row suggestion-title-row sluta-braka">
                <div class="col">
                  <h4 class="suggestion-title">Vill du bli {{card.title}}?</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col button-group">
              <button class="button button-assertive icon ion-close"></button>
              <button class="button button-royal icon ion-map" go-click="/path"></button>
              <button class="button button-positive icon ion-information" go-click="/description"></button>
              <button class="button button-balanced icon ion-heart"></button>
            </div>
          </div>
      </td-card>
      <td-card>
        <div class="row refresh-card">
        </div>
      </td-card>
    </td-cards>
  </div>
</ion-pane>
