<ion-view>
  <ion-content>
    <td-cards>
      <td-card>
        <div class="row card-image">
          <div class="col">
            <div class="row" style="margin-top: 30rem">
              <div class="col">
                <h4 class="suggestion-title">Vill du bli programvaruutvecklare?<h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="outline-style: solid; outline-color: black;padding: 0 0 0 0;outline-width: 1px">
          <div class="col">
            <button ion-button icon-right>
              Right Icon
              <ion-icon name="star"></ion-icon>
            </button>
          </div>
        </div>
      </td-card>
    </td-cards>
  </ion-content>
</ion-view>
