<ion-view title="Description">
  <ion-content scroll="false" class="pane" style="background-image: url('img/{{occupation.image}}');">
    <ion-header-bar class='bar-clear'>
      <div class="buttons">
        <a class="button icon-left ion-chevron-left button-clear button-back" ng-click="myGoBack()"></a>
      </div>
      <h1 class="title">{{occupation.title}}</h1>
      <div class="buttons">
        <a class="button icon-right ion-ios-bookmarks button-clear" go-click="/library"></a>
      </div>
    </ion-header-bar>
    <div>
      <div class="col-80">Det här gör en {{occupation.title}}</div>
    </div>
    <div class="row top-space">
      <div class="col-90">
        {{occupation.description}}
      </div>
    </div>
    <div class="row top-space">
      <button class="button button-dark">
        Läs mer
      </button>
    </div>
    <div class="row top-space">
      <div class="col button-group_description">
        <button class="button button-assertive icon ion-close"></button>
        <button class="button button-royal icon ion-map" go-click="/path"></button>
        <button class="button button-balanced icon ion-heart"></button>
      </div>
    </div>
  </ion-content>
</ion-view>
