<ion-view title="Description">
  <ion-content scroll="false" class="pane" style="background-image: url('img/{{occupation.image}}');">
    <ion-header-bar class='bar-clear'>
      <div class="buttons">
        <a class="button icon-left ion-chevron-left button-clear button-back" style="color: #ffffff;  opacity: 0.75;" ng-click="myGoBack()"></a>
      </div>
      <div class="header-bar-title"><div>Det här gör en<br>{{occupation.title}}</div></div>
      <div>
        <img src="img/library.png" go-click="/library" class="my-lib my-lib-suggestion">
      </div>
    </ion-header-bar>
    <div class="col-80"><!-- Divider div --></div>
    <div class="row top-space">
      <ion-scroll class="col-90">
        <p ng-if="occupation.ingress" class="description-ingress">{{occupation.ingress}}</p>
        <h3 ng-if="occupation.arbetsuppgifter" class="description-subtitle">Arbetsuppgifter</h3>
        <p ng-if="occupation.arbetsuppgifter" class="body-text">{{occupation.arbetsuppgifter}}</p>
        <h3 ng-if="occupation.arbetsplatser" class="description-subtitle">Arbetsplatser</h3>
        <p ng-if="occupation.arbetsplatser" class="body-text">{{occupation.arbetsplatser}}</p>
        <h3 ng-if="occupation.arbetstider" class="description-subtitle">Arbetstider</h3>
        <p ng-if="occupation.arbetstider" class="body-text">{{occupation.arbetstider}}</p>
        <h3 ng-if="occupation.inriktningar" class="description-subtitle">Exempel på Inriktningar</h3>
        <section>
          <ul ng-if="occupation.inriktningar" ng-repeat="inriktning in occupation.inriktningar">
            <li class="body-text">• {{inriktning}}</li>
          </ul>
        </section>
        <h3 ng-if="occupation.loen" class="description-subtitle">Lön</h3>
        <p ng-if="occupation.loen" class="body-text">{{occupation.loen}}</p>
        <h3 ng-if="occupation.rating" class="description-rating-text">Chans att få jobb</h3>
        <h3 ng-if="occupation.rating" class="description-rating">{{occupation.rating}}</h3>
      </ion-scroll>
    </div>
    <div class="col button-group_description">
      <button class="button button-assertive icon ion-close" ng-click="myGoBackSkip()"></button>
      <button class="button button-royal icon ion-footprint" go-click="/path/{{occupation.id}}"></button>
      <button class="button button-positive button-link" ng-click="gotoGoogle(occupation.google)"></button>
      <button class="button button-balanced icon ion-heart" ng-click="saveThisOccupation()"></button>
    </div>
  </ion-content>
</ion-view>
