.background-grey {
  background-color: #F7F7F7;
}

/* Empty. Add your own CSS if you like */

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 1rem;
  margin-left: -11rem;
  width: 22rem;
  height: 40rem;
  background-color: white;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: #4CAF50;
  opacity: 0;
}

.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #F44336;
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.discard {
  position: absolute;
  bottom: 20px;
  padding: 10px 15px;
  color: #FFF;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 5px 5px 0;
}

.card-image {
  overflow: hidden;
  height: 33rem;
  background-size: cover;
}

.pane {
  overflow: hidden;
  background-size: cover;
}

.col {
  padding: 0px;
}

.row {
  padding: 0px;
}

.suggestion-title {
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.button-balanced {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.button-royal {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}

.button-positive {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.button-assertive {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.button-group {
  text-align: center;
  margin-top: 1rem;
}

.suggestion-title-row {
  margin-top: 30rem
}

.refresh-card {
  background-color: white;
  height: 40rem;
}

.title {
  color: ivory;
}

.col-80 {
  color: white;
  font-size: 30px;
  padding-left: 30px;
  padding-top: 100px;
}

.col-90 {
  color: white;
  height: auto;
  max-height: 18.3rem;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 30px;
  overflow: hidden;
}

.row+.row {
  margin-top: 0px;
  padding-top: 0;
}


.button-dark {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.button-group_description {
  margin-top: 2rem;
  text-align: center;
}
