/*td-cards*/

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 2vh;
  margin-left: -47vw;
  width: 94vw;
  height: 96vh;
  background-color: white;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
}

.refresh-card {
  background-color: white;
  height: 96vh;
}

.card-image {
  overflow: hidden;
  height: 79vh;
  background-size: cover;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: #4CAF50;
  opacity: 0;
}

.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #F44336;
  opacity: 0;
}

/*Suggestion screen*/

.background-grey {
  background-color: #F7F7F7;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.discard {
  position: absolute;
  bottom: 20px;
  padding: 10px 15px;
  color: #FFF;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 5px 5px 0;
}

.col {
  padding: 0px;
}

.row {
  padding: 0px;
}

.suggestion-title {
  text-align: center;
  color: white;
  font-size: 2em;
}

.suggestion-title-row {
  margin-top: 14.4vh
}

.button-group {
  text-align: center;
  margin-top: 2.4vh;
}

.ion-ios-bookmarks {
  margin-right: 2.9vw;
  border: none;
  background: #595959;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
}

.bar button {
  margin-top: 1rem;
  font-size: 1.6rem;
}

/*buttons*/

.button-dark {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.6vw;
  margin-right: 0.6vw;
}

.button-back {
  margin-top: 0px;
}

.bar.bar-clear .button {
  color: #595959;
}

.button-balanced {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.6vw;
  margin-right: 0.6vw;
}

.button-royal {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.6vw;
  margin-right: 0.6vw;
}

.button-positive {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.6vw;
  margin-right: 0.6vw;
}

.button-assertive {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.6vw;
  margin-right: 0.6vw;
}

/*description screen */

.ion-footprint {
  background-image: url('../img/footsteps_icon_white_360.png');
  background-position: center;
  background-size: 2.5rem;
  background-repeat: no-repeat;
}

.pane {
  overflow: hidden;
  background-size: cover;
}

.title {
  color: ivory;
}

.col-80 {
  color: white;
  font-size: 1.9rem;
  line-height: 100%;
  padding-left: 2rem;
  padding-top: 6rem;
}

.col-90 {
  color: white;
  height: 60vh;
  font-size: 1.28rem;
  padding-top: 1rem;
  padding-left: 2rem;
  overflow: hidden;
}

.row + .row {
  margin-top: 0px;
  padding-top: 0;
}

.button-group_description {
  margin-top: 2.4vh;
  text-align: center;
}

.description-subtitle {
  color: ivory;
  padding-top: 7.2vh;
  padding-bottom: 1.2vh;
}

.description-subtext-bold {
  font-weight: bold;
}

.description-rating-text {
  padding-top: 2.4vh;
  color: ivory;
  text-align: center;
}

.description-rating {
  color: ivory;
  text-align: center;
  padding-bottom: 2.4vh;
}

.item.item-trns {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.path-text {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1.75rem;
}

.button-group_path {
  margin-top: 4.8vh;
  text-align: center;
}

.path-image {
  max-height: 54vh;
}

/*Libary screen*/

.screen {
  overflow: hidden;
  background-size: cover;
  scroll:false;
}

lib-screen{
  background: #fff;
}

.lib-content {
  background-color: #fff;
  padding-right: 2.16vw;
  padding-left: 2.16vw;
  overflow: auto;
}

.lib-row{
  margin-top: 1.2vh;
}

.lib-button-wrapper{
  width: 1%;
  display: inline-table;
}

.lib-button{
  overflow: hidden;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-size: cover;
  font-size: .91rem;
  font-weight: bold;
}

.lib-title {
  margin-top: 1.44vh;
  margin-bottom: 4.8vh;
  color: #595959;
  font-size: 1.2rem;
  font-weight: bold;
}

.center {
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*display: block;*/
  text-align: center;
}

.button-light {
  color: #fff;
}

.button.button-light {
  color: #fff;
}
