/*td-cards*/

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 1rem;
  margin-left: -11rem;
  width: 22rem;
  height: 40rem;
  background-color: white;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
}

.refresh-card {
  background-color: white;
  height: 40rem;
}

.card-image {
  overflow: hidden;
  height: 33rem;
  background-size: cover;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: #4CAF50;
  opacity: 0;
}

.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #F44336;
  opacity: 0;
}

/*Suggestion screen*/

.background-grey {
  background-color: #F7F7F7;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.discard {
  position: absolute;
  bottom: 20px;
  padding: 10px 15px;
  color: #FFF;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 5px 5px 0;
}

.col {
  padding: 0px;
}

.row {
  padding: 0px;
}

.suggestion-title {
  text-align: center;
  color: white;
  font-size: 2em;
}

.suggestion-title-row {
  margin-top: 6rem
}

.button-group {
  text-align: center;
  margin-top: 1rem;
}

.ion-ios-bookmarks {
  margin-right: 10px;
  border: none;
  background: #595959;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
}

.bar button {
  margin-top: 1rem;
  font-size: 25px;
}

/*buttons*/

.button-dark {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.button-back {
  margin-top: 0px;
}

.bar.bar-clear .button {
  color: #595959;
}

.button-balanced {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.button-royal {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}

.button-positive {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.button-assertive {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/*Suggestion screen */

.ion-footprint {
  background-image: url('../img/footsteps_icon_white_360.png');
  background-position: center;
  background-size: 2.5rem;
  background-repeat: no-repeat;
}

.pane {
  overflow: hidden;
  background-size: cover;
}

.title {
  color: ivory;
}

.col-80 {
  color: white;
  font-size: 30px;
  line-height: 100%;
  padding-left: 30px;
  padding-top: 100px;
}

.col-90 {
  color: white;
  height: auto;
  height: 25rem;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 30px;
  overflow: hidden;
}

.row + .row {
  margin-top: 0px;
  padding-top: 0;
}

.button-group_description {
  /*margin-top: 12rem;*/
  text-align: center;
}

.item.item-trns {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.path-text {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 28px;
}

.button-group_path {
  margin-top: 2rem;
  text-align: center;
}

.path-image {
  max-height: 22.5rem;
}

/*Libary screen*/

.screen {
  overflow: hidden;
  background-size: cover;
}

.row-lib {
  padding-top: 70px;
  padding-left: 45px;
}

.button-light {
  height: 80px;
  width: 150px;
  margin-right: 40px;
  background-size: cover;
  font-size: 13px;
  font-weight: bold;
}

.button.button-light {
  color: #fff;
}
