.pane {
  background-image: url('../img/Bagare2.jpg');
  overflow: hidden;
  background-size: cover;
}

.title {
  color: ivory;
}

.col-80 {
  color: white;
  font-size: 30px;
  padding-left: 30px;
  height: 100px;
}

.col-90 {
  color: white;
  font-size: 20px;
  padding-left: 30px;
  height: 50px;
}

.top-space {
  padding-top: 100px;
}

.button-balanced {
   border-radius: 50%;
   width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.25rem;
   margin-right: 0.25rem;
 }

 .button-royal {
  border-radius: 50%;
  width: 4.5rem;
 height: 4.5rem;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
 }

 .button-positive {
   border-radius: 50%;
   width: 4.5rem;
   height: 4.5rem;
  margin-left: 0.25rem;
   margin-right: 0.25rem;
 }

 .button-assertive {
 border-radius: 50%;
 width: 4.5rem;
  height: 4.5rem;
  margin-left: 0.25rem;
 margin-right: 0.25rem;
 }
